libraries/SMTPEmail/.qtc_clangd
libraries/SMTPEmail/.qmake.stash
libraries/SMTPEmail/Makefile
libraries/SMTPEmail/README.md
libraries/SMTPEmail/build/*
!.gitkeep
libraries/SMTPEmail/libSmtpMime.a
server/.qmake.stash
server/Makefile
server/build/Debug
server/build/moc
server/build/obj
server/build/server.exe
server/build/tmp.db
Makefile
.qtc_clangd
.qmake.stash
./subdirs.pro.user