libraries/SMTPEmail/.qtc_clangd
libraries/SMTPEmail/.qmake.stash
libraries/SMTPEmail/Makefile
librabries/SMTPEmail/build/
server/.qmake.stash
server/Makefile
server/build/Debug
server/build/moc
server/build/obj
server/build/server.exe
server/build/tmp.db
./subdirs.pro.user
Makefile
.qtc_clangd
.qmake.stash
tmp.db
